/* Website for RockBottom 
   Author: Hanna Koh
   Date: 2/26-27/2022 */

  @font-face {
    font-family: Dogica;
    src: url(fonts/dogica.ttf);
  }

  @font-face {
    font-family: Dogica;
    src: url(fonts/dogicabold.ttf);
    font-weight:bold
  }

  *{ 
    font-family: 'Dogica', monospace;
    font-size:20px;
    list-style:none;
    padding:0;
    margin-left: 100px;
    margin-right: 100px;
  }

  p{
    line-height: 1.6;
  }

  header{
    font-size: 40px;
    font-weight: bold;
    
  }

