/* Website for RockBottom 
   Author: Hanna Koh
   Date: 2/26-27/2022 */

  @font-face {
    font-family: Dogica;
    src: url(fonts/dogica.ttf);
  }

  @font-face {
    font-family: Dogica;
    src: url(fonts/dogicabold.ttf);
    font-weight:bold
  }

  *{ 
    font-family: 'Dogica', monospace;
    font-size:20px;
    list-style:none;
    line-height: 1.6;
    padding:0;
    margin-left: 5vw;
    margin-right: 5vw;
    color: #281a36;
  }

  body{ 
    background-color: #ebe3ff;
  }

  p{
    line-height: 1.6;
  }

  header{
    font-size: 40px;
    font-weight: bold;

  }
  
  h2{
      font-size: 25px;
      font-weight: bold;
  }

  h3{
      font-size: 20px;
      font-weight: bold;
  }

  button{
      line-height: 1.6;
      height: 4em;
      width: 12em;
      display:block;
      margin:auto;
      text-align: center;
      border-radius:15px;
      border: none;
      background-color: rgb(130, 95, 118);
      color:#ffe0e1;

  }

